.sHeaderActive {
  position: relative;
  font-weight: 500;
}
.sideNavsectionTitle {
  width: 222px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--logo-black);
  box-sizing: border-box;
  height: 1px;
}
.magnifyingGlassIcon,
.search1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.search1 {
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 60px;
  height: 22px;
  flex-shrink: 0;
}
.search,
.sideNavsearchBar {
  display: flex;
  justify-content: flex-start;
}
.sideNavsearchBar {
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 192px;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-81xl) var(--padding-8xs)
    var(--padding-5xs);
  align-items: center;
  gap: var(--gap-5xs);
}
.search {
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  align-items: flex-start;
  font-size: var(--h5-btns-med-14-size);
}
.sectionLinkText {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.leftMenuLinks,
.sideNavsectionLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sideNavsectionLink {
  width: 222px;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
}
.leftMenuLinks {
  align-self: stretch;
  gap: var(--gap-5xs);
  font-size: var(--p1-regular-16-size);
}
.button {
  position: absolute;
  height: 91.6%;
  width: 98.51%;
  top: 0;
  right: 1.49%;
  bottom: 8.4%;
  left: 0;
  border-radius: var(--br-5xs);
}
.buttonText {
  position: absolute;
  top: calc(50% - 20.85px);
  left: calc(50% - 76.5px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 38px;
}
.sideNavbuttonlarge1 {
  position: relative;
  border-radius: var(--br-11xs);
  border: 1.5px solid var(--logo-black);
  box-sizing: border-box;
  width: 201px;
  height: 35.7px;
}
.sideNavbuttonlarge {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-10xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--h5-btns-med-14-size);
}
.sectionHeader1 {
  position: relative;
  font-weight: 500;
}
.rightArrowIcon {
  position: relative;
  width: 8px;
  height: 13px;
}
.sectionTitleAndArrow {
  width: 206px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sideNavsectionTitle2 {
  width: 222px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.sectionLinkText2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.leftMenuLinkSection {
  width: 256px;
  flex-direction: column;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.leftMenuLinkSection,
.sideNavcommunities,
.sideNavcommunitiesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sideNavcommunities {
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 256px;
  flex-direction: column;
  padding: var(--padding-base) 0 var(--padding-13xl);
  gap: var(--gap-base);
  opacity: 0.76;
}
.sideNavcommunitiesWrapper {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-93xl) var(--padding-8xl) var(--padding-93xl) 133px;
}
.communities1 {
  position: relative;
}
.allpageHeader {
  width: 992px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-60xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--h1-bold-52-size);
}
.trendingCommunities {
  position: relative;
}
.trendingCommunitiesWrapper {
  width: 992px;
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashxrbbxixawy0Icon {
  position: relative;
  width: 257px;
  height: 97px;
  object-fit: cover;
}
.cardcommunitybackgroundsmal {
  height: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.communityTitle {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 191px;
  height: 48px;
  flex-shrink: 0;
}
.bookmarkDisabledIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cardiconBookmark {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 21px;
}
.cardcommunitysmallInner,
.communityTitleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.communityTitleParent {
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.cardcommunitysmallInner {
  overflow: hidden;
  padding: var(--padding-8xs) var(--padding-3xs) 0 var(--padding-13xl);
  justify-content: center;
  font-size: var(--p1-regular-16-size);
}
.members {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 96px;
  flex-shrink: 0;
}
.membersWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-109xl) 0 var(--padding-13xl);
  align-items: center;
  justify-content: flex-start;
  color: var(--gray-4);
}
.description {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  height: 50px;
  flex-shrink: 0;
}
.cardcommunitydescription,
.cardcommunitydescriptionWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cardcommunitydescription {
  width: 207px;
  height: 52px;
  flex-shrink: 0;
  padding: 0 var(--padding-5xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
}
.cardcommunitydescriptionWrapper {
  padding: 0 var(--padding-7xl) var(--padding-10xs) var(--padding-4xl);
  align-items: center;
  color: var(--logo-black);
}
.button1 {
  position: absolute;
  height: 109.38%;
  width: 103.13%;
  top: -4.69%;
  right: -1.56%;
  bottom: -4.69%;
  left: -1.56%;
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--logo-black);
  box-sizing: border-box;
}
.buttonText1 {
  position: absolute;
  height: 95%;
  width: 100%;
  top: 2.5%;
  left: 0;
  font-size: var(--h5-btns-med-14-size);
  font-weight: 500;
  font-family: var(--p1-regular-16);
  color: var(--logo-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsmall {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 96px;
  height: 32px;
}
.button2,
.buttonText2 {
  position: absolute;
  width: 100%;
  left: 0;
}
.button2 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--logo-black);
}
.buttonText2 {
  height: 95%;
  top: 2.5%;
  font-size: var(--h5-btns-med-14-size);
  font-weight: 500;
  font-family: var(--p1-regular-16);
  color: var(--gray-1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsmall1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 96px;
  height: 28px;
}
.buttonsmallParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.cardcommunitysmall,
.cardcommunitysmallChild {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardcommunitysmallChild {
  padding: var(--padding-8xs) var(--padding-4xl) var(--padding-base)
    var(--padding-3xl);
  justify-content: center;
}
.cardcommunitysmall {
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 259px;
  height: 278px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.unsplasheesdjflfx1aIcon {
  position: relative;
  width: 266px;
  height: 97px;
  object-fit: cover;
}
.buttonsmall2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 96px;
  height: 32px;
}
.cardcommunitysmall1,
.cardcommunitysmallInner3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardcommunitysmall1 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  flex-shrink: 0;
  justify-content: flex-start;
}
.cardcommunitysmallInner3 {
  padding: var(--padding-8xs) var(--padding-4xl) var(--padding-base)
    var(--padding-3xl);
  justify-content: center;
}
.cardcommunitysmallParent {
  width: 1024px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--p2-regular-12-size);
  color: var(--gray-5);
}
.pageDivider {
  position: relative;
  border-top: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 1013px;
  height: 1px;
}
.pageDividerWrapper {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-7xs) var(--padding-29xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.moreSuggestions {
  position: relative;
}
.moreSuggestionsWrapper {
  width: 998px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-7xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashweKvZb1l0Icon {
  position: relative;
  width: 258px;
  height: 96px;
  object-fit: cover;
}
.cardcommunitybackgroundsmal6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.communityTitle6 {
  position: absolute;
  top: 0;
  left: 28.5px;
  font-weight: 500;
  display: inline-block;
  width: 182px;
}
.cardiconBookmark6 {
  position: absolute;
  top: 1.5px;
  left: 210.5px;
  width: 16px;
  height: 21px;
}
.communityTitleParent4 {
  position: absolute;
  top: 117px;
  left: 0;
  width: 255px;
  height: 24px;
  font-size: var(--p1-regular-16-size);
}
.description6 {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 191px;
  flex-shrink: 0;
}
.cardcommunitydescription6 {
  position: absolute;
  top: 159px;
  left: 13px;
  width: 243px;
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-25xl) 0 var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.members6 {
  position: relative;
  letter-spacing: 0.08em;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 104px;
  flex-shrink: 0;
}
.membersWrapper4 {
  position: absolute;
  top: 140px;
  left: 9px;
  width: 255px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-110xl) 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-4);
}
.buttonText13 {
  position: absolute;
  height: 95%;
  width: 100%;
  top: 2.5%;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsmall12,
.buttonsmall13 {
  position: relative;
  width: 96px;
  height: 32px;
}
.buttonsmall13 {
  color: var(--gray-1);
}
.buttonsmallParent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.cardcommunitysmallInner10 {
  position: absolute;
  top: 215px;
  left: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-12xl) var(--padding-base)
    var(--padding-xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--h5-btns-med-14-size);
}
.cardcommunitysmall6 {
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 258px;
  height: 282px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--p2-regular-12-size);
}
.communityTitle7,
.description7,
.members7 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.communityTitle7 {
  font-size: var(--p1-regular-16-size);
}
.description7,
.members7 {
  letter-spacing: 0.08em;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.members7 {
  color: var(--gray-4);
  height: 19px;
}
.description7 {
  height: 50px;
}
.cardcommunitydescription7 {
  position: absolute;
  width: 80.23%;
  top: calc(50% - 26px);
  right: 10.47%;
  left: 9.3%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-5xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--p2-regular-12-size);
}
.buttonsmall14,
.buttonsmall15 {
  position: absolute;
  height: 11.35%;
  top: 82.27%;
  right: 138px;
  bottom: 6.38%;
  width: 96px;
}
.buttonsmall15 {
  right: 26px;
  color: var(--gray-1);
}
.cardiconBookmark7 {
  position: absolute;
  top: 115px;
  left: 230px;
  width: 16px;
  height: 21px;
}
.cardcommunitybackgroundsmalIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 97px;
  object-fit: cover;
}
.cardcommunitysmall7 {
  position: relative;
  border-radius: var(--br-5xs);
  border: 1px solid var(--logo-black);
  box-sizing: border-box;
  width: 258px;
  height: 282px;
  overflow: hidden;
  flex-shrink: 0;
}
.cardcommunitybackgroundsmalIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 256px;
  height: 98px;
  object-fit: cover;
}
.cardcommunitysmallGroup {
  width: 999px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) 161px var(--padding-lgi) var(--padding-7xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--h5-btns-med-14-size);
}
.button19 {
  position: absolute;
  height: 109.38%;
  width: 101.52%;
  top: -4.69%;
  right: -0.76%;
  bottom: -4.69%;
  left: -0.76%;
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--logo-black);
  box-sizing: border-box;
}
.buttonlarge {
  position: relative;
  width: 198px;
  height: 32px;
}
.displaying9Of {
  position: relative;
  font-weight: 500;
  color: var(--gray-4);
}
.buttonlargeParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
}
.buttonlargeParent {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameWrapper {
  width: 999px;
  height: 181px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-6xl) 322px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--h5-btns-med-14-size);
}
.allpageHeaderParent,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.allpageHeaderParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
  font-size: var(--h2-bold-32-size);
}
.frameParent {
  width: 1440px;
  flex-direction: row;
}
.footerlogoIcon {
  position: relative;
  width: 148px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}
.navLink {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.footerlinknav {
  position: relative;
  width: 160px;
  height: 19px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.footericoninstagram {
  position: relative;
  width: 20px;
  height: 20px;
}
.footericonfacbook {
  position: relative;
  width: 18.75px;
  height: 18.75px;
}
.footericontwitter {
  position: relative;
  width: 19.5px;
  height: 15.84px;
}
.footericonyoutube {
  position: relative;
  width: 21px;
  height: 14.72px;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.students {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 160px;
}
.footerLink {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.mainFooterLink {
  position: relative;
  width: 160px;
  height: 24px;
}
.footerMenu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.footerLink12 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 150%;
  text-indent: 1px;
  display: inline-block;
}
.mainFooterLink12 {
  position: relative;
  width: 160px;
  height: 71px;
  font-size: var(--p2-regular-12-size);
}
.textBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--shadow-1);
}
.inputPlaceholder {
  position: absolute;
  top: 4px;
  left: 10px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 25px;
}
.subscribeEmailTextBox {
  position: relative;
  width: 198px;
  height: 28px;
  color: var(--gray-4);
}
.button20 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--purple-blue);
}
.buttonlarge1 {
  position: relative;
  width: 198px;
  height: 32px;
  text-align: center;
}
.footerGridRow,
.footerLinks4,
.footerMenuParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLinks4 {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--h5-btns-med-14-size);
}
.footerGridRow,
.footerMenuParent {
  flex-direction: row;
  gap: var(--gap-69xl);
}
.footerGridRow {
  justify-content: center;
}
.scholistAllRights {
  position: relative;
  line-height: 150%;
}
.footerLegal {
  width: 827px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-365xl);
}
.communities,
.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  align-self: stretch;
  background-color: var(--gray-4);
  padding: var(--padding-63xl) var(--padding-105xl) var(--padding-20xl);
  align-items: flex-start;
  gap: var(--gap-62xl);
  font-size: var(--p1-regular-16-size);
  color: var(--gray-1);
}
.communities {
  position: relative;
  background-color: var(--white);
  width: 100%;
  align-items: center;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--h3-medium-20-size);
  color: var(--logo-black);
  font-family: var(--p1-regular-16);
}
@media screen and (max-width: 1200px) {
  .sideNavsearchBar {
    width: 152px;
  }
  .sideNavbuttonlarge1 {
    width: 180px;
  }
  .sectionHeader1 {
    font-size: var(--font-size-mid);
  }
  .sectionTitleAndArrow {
    gap: var(--gap-9xs);
  }
  .sideNavcommunities {
    width: 216px;
  }
  .sideNavcommunitiesWrapper {
    padding-left: var(--padding-61xl);
    box-sizing: border-box;
  }
  .sideNavcommunitiesWrapper:hover {
    height: 258px;
  }
  .communities1 {
    font-size: var(--font-size-27xl);
  }
  .trendingCommunities {
    font-size: var(--font-size-9xl);
  }
  .cardcommunitybackgroundsmal {
    width: auto;
    height: auto;
  }
  .communityTitle {
    font-size: var(--font-size-smi);
    width: 181px;
    height: 48px;
  }
  .cardiconBookmark {
    width: 14px;
    height: 19px;
  }
  .members {
    font-size: var(--font-size-2xs);
  }
  .membersWrapper {
    align-items: flex-start;
    justify-content: center;
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .description {
    font-size: var(--font-size-3xs);
  }
  .cardcommunitydescription {
    width: 190px;
    align-items: center;
    justify-content: center;
  }
  .cardcommunitydescriptionWrapper {
    gap: var(--gap-smi);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .buttonText1 {
    font-size: var(--p2-regular-12-size);
  }
  .buttonsmall {
    width: 76px;
    height: 23px;
  }
  .buttonText2 {
    font-size: var(--p2-regular-12-size);
  }
  .buttonsmall1 {
    width: 76px;
    height: 23px;
  }
  .cardcommunitysmall {
    width: 240px;
    height: 258px;
  }
  .buttonsmall2 {
    width: 76px;
    height: 23px;
  }
  .cardcommunitysmall1 {
    width: 240px;
    height: 258px;
  }
  .cardcommunitysmallParent {
    background-color: var(--white);
    flex-direction: row;
    gap: var(--gap-mini);
  }
  .cardcommunitysmallGroup,
  .footerMenuParent {
    flex-wrap: wrap;
  }
  .footerGridRow {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
  .communities {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 850px) {
  .sideNavcommunities {
    display: none;
  }
  .sideNavcommunitiesWrapper {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .trendingCommunities {
    font-size: var(--font-size-6xl);
  }
  .cardcommunitysmallGroup {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .frameWrapper {
    padding-left: var(--padding-181xl);
    box-sizing: border-box;
  }
  .allpageHeaderParent:hover {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-81xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 520px) {
  .communities1 {
    font-size: var(--font-size-7xl);
  }
  .allpageHeader {
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .trendingCommunities {
    font-size: var(--h3-medium-20-size);
  }
  .pageDivider {
    width: 300px;
  }
  .moreSuggestions {
    font-size: var(--font-size-7xl);
  }
  .buttonsmall12 {
    width: 86px;
  }
  .cardcommunitysmall6 {
    width: 258px;
  }
  .cardcommunitysmallGroup {
    flex-direction: column;
    padding-left: var(--padding-7xs);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .frameWrapper {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 360px) {
  .communities {
    justify-content: center;
  }
}
