.scholistProfile {
  position: relative;
}
.header {
  width: 1446px;
  height: 191px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-76xl) var(--padding-429xl) var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.name {
  position: relative;
  line-height: 150%;
}
.multiselectdefault {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  width: 373px;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
}
.nameParent {
  gap: 193px;
}
.nameGroup,
.nameParent,
.quizQuestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.quizQuestion {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  padding: var(--padding-3xl) var(--padding-35xl) var(--padding-3xl)
    var(--padding-30xl);
}
.nameGroup {
  gap: 246px;
}
.multiselectdefault2 {
  border: 1px solid var(--gray-3);
  background-color: var(--white);
  position: relative;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-1);
  box-sizing: border-box;
  width: 373px;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
}
.nameContainer,
.quizQuestion2 {
  display: flex;
  justify-content: flex-start;
}
.nameContainer {
  flex-direction: row;
  align-items: center;
  gap: 297px;
}
.quizQuestion2 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-34xl) var(--padding-xl)
    var(--padding-30xl);
  align-items: flex-start;
}
.frameDiv {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-292xl);
}
.frameDiv,
.nameParent1,
.quizQuestion3 {
  display: flex;
  justify-content: flex-start;
}
.quizQuestion3 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-34xl) var(--padding-xl)
    var(--padding-30xl);
  align-items: flex-start;
}
.nameParent1 {
  flex-direction: row;
  align-items: center;
  gap: 321px;
}
.quizQuestion4 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  padding: var(--padding-3xl) var(--padding-35xl) var(--padding-3xl)
    var(--padding-30xl);
}
.nameParent2,
.quizQuestion4,
.quizQuestion5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nameParent2 {
  gap: var(--gap-232xl);
}
.quizQuestion5 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  padding: var(--padding-3xl) var(--padding-35xl) var(--padding-3xl)
    var(--padding-30xl);
}
.scholarshipQuestions2,
.scholarshipQuestions2Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.scholarshipQuestions2 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--gray-3);
  flex-direction: column;
  padding: var(--padding-17xl) var(--padding-13xl);
  gap: var(--gap-lg);
}
.scholarshipQuestions2Wrapper {
  width: 1253px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-51xl) var(--padding-2xl)
    var(--padding-244xl);
  box-sizing: border-box;
}
.exit {
  position: relative;
  font-size: var(--p1-regular-16-size);
  font-weight: 500;
  font-family: var(--p1-regular-16);
  color: var(--white);
  text-align: left;
}
.exitWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-52xl);
  background-color: var(--royal-blue);
  border-radius: var(--br-5xs);
  width: 169px;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.vectorIcon {
  position: relative;
  width: 10.95px;
  height: 18.95px;
}
.vectorWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-55xl);
  background-color: var(--royal-blue);
  border-radius: var(--br-5xs);
  width: 163.14px;
  height: 53.12px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.exitButton,
.frameParent,
.vectorWrapper {
  align-items: center;
  justify-content: center;
}
.frameParent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-140xl);
}
.exitButton {
  width: 1445px;
  height: 227px;
  flex-shrink: 0;
  padding: var(--padding-6xl) var(--padding-243xl) var(--padding-73xl);
  box-sizing: border-box;
}
.body,
.exitButton,
.formBody {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.formBody {
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--p1-regular-16-size);
}
.body {
  align-items: center;
  justify-content: center;
}
.footerlogoIcon {
  position: relative;
  width: 148px;
  height: 45px;
  overflow: hidden;
  flex-shrink: 0;
}
.navLink {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.footerlinknav {
  position: relative;
  width: 160px;
  height: 19px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.footericoninstagram {
  position: relative;
  width: 20px;
  height: 20px;
}
.footericonfacbook {
  position: relative;
  width: 18.75px;
  height: 18.75px;
}
.footericontwitter {
  position: relative;
  width: 19.5px;
  height: 15.84px;
}
.footericonyoutube {
  position: relative;
  width: 21px;
  height: 14.72px;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.footerMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.students {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 160px;
}
.footerLink {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
}
.mainFooterLink {
  position: relative;
  width: 160px;
  height: 24px;
}
.footerMenu1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.footerLink12 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 150%;
  text-indent: 1px;
  display: inline-block;
}
.mainFooterLink12 {
  position: relative;
  width: 160px;
  height: 71px;
  font-size: var(--p2-regular-12-size);
}
.textBox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  box-shadow: var(--shadow-1);
}
.inputPlaceholder {
  position: absolute;
  top: 4px;
  left: 10px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 25px;
}
.subscribeEmailTextBox {
  position: relative;
  width: 198px;
  height: 28px;
  color: var(--gray-4);
}
.button,
.buttonText {
  position: absolute;
  width: 100%;
  left: 0;
}
.button {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--purple-blue);
}
.buttonText {
  height: 95%;
  top: 2.5%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonlarge {
  position: relative;
  width: 198px;
  height: 32px;
  text-align: center;
}
.footerGridRow,
.footerLinks4,
.footerMenuParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLinks4 {
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--h5-btns-med-14-size);
}
.footerGridRow,
.footerMenuParent {
  flex-direction: row;
  gap: var(--gap-69xl);
}
.footerGridRow {
  justify-content: center;
}
.scholistAllRights {
  position: relative;
  line-height: 150%;
}
.footerLegal {
  width: 827px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-365xl);
}
.footer,
.studentActivitiesProfile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  align-self: stretch;
  background-color: var(--gray-4);
  padding: var(--padding-63xl) var(--padding-105xl) var(--padding-20xl);
  align-items: flex-start;
  gap: var(--gap-62xl);
  font-size: var(--p1-regular-16-size);
  color: var(--gray-1);
}
.studentActivitiesProfile {
  position: relative;
  background-color: var(--white);
  width: 100%;
  align-items: center;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--h1-bold-52-size);
  color: var(--logo-black);
  font-family: var(--p1-regular-16);
}
@media screen and (max-width: 1200px) {
  .multiselectdefault {
    width: 313px;
  }
  .nameParent {
    gap: var(--gap-96xl);
  }
  .nameGroup {
    gap: 160px;
  }
  .multiselectdefault2 {
    width: 313px;
  }
  .nameContainer {
    gap: 210px;
  }
  .frameDiv {
    gap: 225px;
  }
  .nameParent1 {
    gap: 233px;
  }
  .nameParent2 {
    gap: 185px;
  }
  .scholarshipQuestions2 {
    width: 700px;
  }
  .exitWrapper {
    width: 149px;
  }
  .formBody {
    justify-content: center;
  }
  .footerMenuParent {
    flex-wrap: wrap;
  }
  .footerGridRow {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 850px) {
  .scholistProfile {
    font-size: var(--h2-bold-32-size);
  }
  .name {
    font-size: var(--h5-btns-med-14-size);
  }
  .multiselectdefault {
    width: 343px;
  }
  .nameParent {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quizQuestion {
    padding-top: var(--padding-xs);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .nameContainer,
  .nameGroup {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nameContainer {
    gap: var(--gap-8xs);
  }
  .quizQuestion2 {
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-26xl);
    padding-top: var(--padding-3xs);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
  .frameDiv {
    flex-direction: column;
    gap: var(--gap-8xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quizQuestion3 {
    padding-top: var(--padding-3xs);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
  .nameParent1 {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quizQuestion4 {
    padding-top: var(--padding-xs);
    padding-right: var(--padding-41xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .nameParent2 {
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .quizQuestion5 {
    padding-top: var(--padding-xs);
    padding-right: var(--padding-44xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .scholarshipQuestions2 {
    width: 450px;
  }
  .exitWrapper {
    width: 30%;
  }
  .frameParent {
    gap: var(--gap-130xl);
  }
}
@media screen and (max-width: 520px) {
  .multiselectdefault,
  .multiselectdefault2 {
    width: 273px;
  }
  .nameContainer {
    gap: var(--gap-8xs);
  }
  .quizQuestion2 {
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-35xl);
    box-sizing: border-box;
  }
  .frameDiv {
    gap: var(--gap-8xs);
  }
  .quizQuestion3 {
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-35xl);
    box-sizing: border-box;
  }
  .scholarshipQuestions2 {
    width: 350px;
  }
  .exitWrapper {
    width: 129px;
  }
  .vectorWrapper {
    width: 20px;
  }
  .frameParent {
    gap: var(--gap-81xl);
  }
}
